.navbar__brand {
  font-style: italic;
}

.welcome__container {
  margin-top: 32px;
  .welcome__title {
    margin-bottom: 28px;
    h1 {
      font-size: 48px;
      text-align: center;
      font-weight: 500;
    }
  }
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .btn-container__signup {
    margin-right: 8px;
  }
}
