<section class="welcome__container">
  <div class="welcome__title">
    <h1>Welcome to fastFlix! 🏁🏎</h1>
  </div>
  <div class="btn-container">
    <button
      class="btn-container__signup"
      mat-raised-button
      (click)="openUserRegistrationDialog()"
      color="primary"
      aria-label="Sign up button"
      >
      Sign up
    </button>
    <button
      mat-raised-button
      color="accent"
      (click)="openUserLoginDialog()"
      aria-label="Login button"
      >
      Log in
    </button>
  </div>
</section>
