.welcome__container {
  margin: 180px auto 340px auto;
  .welcome__title {
    margin-bottom: 28px;
    h1 {
      font-size: 40px;
      text-align: center;
      font-weight: 500;
    }
  }
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .btn-container__signup {
    margin-right: 12px;
  }
}
