.navbar__brand {
  font-style: italic;
  cursor: pointer;
}

.navbar__row {
  margin: 0 auto;
  max-width: 1350px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar-icons__container {
  display: flex;
  align-items: center;
}

.footer-divider {
  max-width: 891px;
  margin: auto;
}

footer {
  bottom: 0;
}

.footer-text {
  padding: 8px 0 36px 0;
  text-align: center;
}

.avatar {
  display: inline;
  vertical-align: middle;
  width: 25px;
  padding-bottom: 6px;
}
