h2,
.no-favorites {
  margin-top: 24px;
  text-align: center;
}

.update__container {
  margin: 24px auto;
  width: 280px;
}

.update__form,
.update__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update__form--action {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
